body {
	background: url("../img/simple_dashed.png");
}


/* Naviagation */
.first {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	margin-top: -65px;
	text-align: right;	
	margin-right: 52px;
}


.first a {
	color: black;
	padding: 13px;
}

.first a:hover {
	color: red;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	color: white;
	margin-top: 10px;
	font-size: 2.5rem;
}

 h2, h3, h4, h5 {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

li {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

p {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

/* Colored Lines for Images*/

.yellow {
	border-top: solid yellow;
	height: 230px;
}

.blue {
	border-top: solid lightblue;
	height: 230px;
}

.red {
	border-top: solid red;
	height: 230px;
}

.green {
	border-top: solid green;
	height: 230px;
}


.article {
	text-align: center;
}



.column, .five, .wide {
	text-align: center;
}

.visible, .content {
  width: 230px;
  height: 200px;
}

#box {
    width: 1085px;
    margin: 25px;
    margin-left: 10px;
    margin-top: 75px;
    background: white;
}

.line-separator{
	width: 1083px;
	height: 3px;
	background: rgb(167, 167, 167);
	margin-left: 14px

}


#img {
	margin-left: -14px;
}

#categories {
	margin-left: 100px;
}

#map {
	margin-left: 220px;
}

#contact {
	margin-left: 200px;
}


section {
  background: fff;
  height: 70px;
  overflow: hidden;
}

/* Last Frame */
section:target {
  background: yellow;
  height: 300px;
  
  transition: background, height, 1s;
}


#top {
	width: 1110px;
	height: auto;
}