body {
	background: url("../img/simple_dashed.png");
}


/* Naviagation */
.first {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	margin-top: -65px;
	text-align: right;	
	margin-right: 52px;
}


.first a {
	color: black;
	padding: 13px;
}

.first a:hover {
	color: red;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	color: white;
	margin-top: 10px;
	font-size: 2.5rem;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 2.5rem;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 26px;

}

h4 {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 20px;

}

li {
	font-family: 'Open Sans', sans-serif;
	color: white;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: white;
}

/* Colored Lines for Images*/

.yellow {
	border-top: solid yellow;
	height: 230px;
}

.blue {
	border-top: solid lightblue;
	height: 230px;
}

.red {
	border-top: solid red;
	height: 230px;
}

.green {
	border-top: solid green;
	height: 230px;
}






.visible, .content {
  width: 230px;
  height: 200px;
}
/* Colored Boxes in Prices */

#box {
    width: 1085px;
    margin: 25px;
    margin-left: 10px;
    margin-top: 75px;
    background: white;
}

#box2 {
	width: 149px;
	height: 10px;
	background: yellow;
	margin-bottom: -4px;
	margin-top: 5px;
}

#box3 {
	width: 149px;
	height: 10px;
	background: lightblue;
	margin-bottom: -4px;
	margin-top: 5px;
}

#box4 {
	width: 149px;
	height: 10px;
	background: red;
	margin-bottom: -4px;
	margin-top: 5px;
}

#box5 {
	width: 149px;
	height: 10px;
	background: green;
	margin-bottom: -4px;
	margin-top: 5px;
}

.line-separator{
	width: 1083px;
	height: 3px;
	background: rgb(167, 167, 167);
	margin-left: 14px

}


#img {
	margin-left: -14px;
}

#categories {
	margin-left: 100px;
}


#top {
	width: 1110px;
	height: auto;
}

.price {
	text-align: left;
	color: white;
	font-family: 'Open Sans', sans-serif;
}



